@media screen and (max-width:750px) {
    *{
        overflow-x: hidden;

    }

    .container{
        height: auto;
    }

    .header{
        height: 80px;
        width: 100%;
        /* position: fixed; */
        top: 0;
        left: 0;
        /* z-index: 1000; */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.850);
    }

    .headerpic{
        margin-left: 0.5rem;
        height: 60px;
        width: 150px;
    }

    .headerpic img{
        height: 50px;
    }

    .tab{
        display: none;
    }
    
    .row1{
        border-radius: 20px;
        width: 90%;
        height: 560px;
        margin-top: 1rem;
    }

    .row1 .header1{
        /* border: 1px solid green; */
        width: 80%;
        height: 100px;
        margin-top: 3rem;
    }

    .row1 h1{
        font-size: 24px;
        line-height: normal;
    }

    .row1 .body{
        /* border: 1px solid red; */
        width: 92%;
        height: 270px;
    }

    .pic{
        width: 71%;
        height: 50px;
        /* border: 1px solid blue; */
        margin-top: 2rem;
    }
    
    .fair{
        display: none;
    }

    .fair2{
        display: none;
    }

    .subrow1{
        flex-direction: column;
        justify-content: start;
        flex: none;
        height: 310px;
    }

    .logo{
        flex-direction: column;
        /* border: 1px solid green; */
        height: 170px;
        width: 100%;
    }

    .logo1{
        width: 100%;
        /* border: 1px solid blue; */
    }
    
    .logo2{
        width: 100%;
        /* border: 1px solid blue; */
    }


    .liby{
        width: 150%;
    }

    .deposits{
        width: 500%;
    }

    .QR{
        width: 85%;
        flex-direction: column;
        border: 1px solid rgb(240, 236, 236);
        border-radius: 6px;
        height: 120px;
        align-self: normal;
    }

    .QR .code img{
        height: 60px;
        margin-top: 0.5rem;
        margin-left: 0.5rem;

    }
    
    .scan{
        margin-left: -1rem;
        height: 60px;
        width: 95%;
        margin-left: 0.2rem;
    }

    .scan p{
        font-size: smaller;
    }

    .row2{
        margin-top: 1rem;
        height: 1120px;
    }

    .box{
        flex-direction: column;
        margin-top: 3.5rem;
        height: 540px;
        justify-content: initial;
    }

    .trusted{
        width: 100%;
        height: 200px;
    }

    .trusted .head{
        width: 100%;
        height: 70px;
    }

    .trusted h1{
        font-size: 23px;
        color: rgba(0, 0, 0, 0.850);
    }

    .trusted .customer{
        width: 95%;
        margin-top: 0rem;
    }

    .million{
        height: 150px;
        width: 100%;
        margin-top: 1rem;
    }

    .million .app{
        margin-top: 1rem;
        height: 20px;
    }
    
    .million p{
        font-size: 14px;
    }

    .two{
        margin-top: 2rem;
        /* height: 65px; */
        width: 80px;
        overflow-y: hidden;
    }

    .two h3{
        font-size: 40px;
    }

    .two p{
        font-weight: normal;
        font-size: 12px;
        margin-top: 10px;
    }

    .over{
        height: 160px;
        width: 100%;
        display: flex;
        margin-top: 1rem;
        align-items: center;
    }

    .ov{
        height: 100px;
        margin-top: 1rem;
    }

    .ov p:nth-child(1) {
        font-size: 13px;
        letter-spacing: 1px;
    }

    .ov h4{
        font-size: 40px;
        font-family: sans-serif;
        margin-top: 0.7rem;
    }

    .ov p:nth-of-type(2){
        font-weight: normal;
        font-size: 12px;
        margin-top: 0.3rem;
    }

    .box2{
        flex-direction: column;
        margin-top: 0rem;
        margin-top: 1rem;
        height: 500px;
        justify-content: initial;
    }

    .billion{
        width: 100%;
        height: 160px;

    }

    .billion .more{
        width: 250px;
        margin-top: 2rem;
        height: 20px;
    }

    .billion .more p{
        font-size: 14px;
        letter-spacing: 1px;
    }

    .billion .money{
        height: 40px;
        display: flex;
        margin-top: 0.5rem;
    }

    .billion .cash{
        width:80px;
        height: 40px;
    }

    .billion .bi{
        width: 150px;
        height: 40px;
        margin-left: 0.5rem;
    }

    .billion h1{
        font-size: 32px;
        display: flex;
    }

    .billion .saved p{
        font-weight: normal;
        font-size: 12px;
    }

    .minute{
        height: 160px;
        width: 100%;
        margin-top: 1rem;
    }
    
    .loans{
        height: 50px;
        width: 170px;
        margin-top: 1rem;
    }

    .minute .loans p{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.5px;
    }

    .minute .min{
        height: 50px;
        margin-top: 2rem;
    }

    .minute .min h1{
        font-size: 35px;
    }

    .minute .min p{
        font-size: 20px;
        margin-bottom: 0px;
        margin-left: 10px;
        font-weight: normal;
    }

    .monthly{
        width: 100%;
        height: 160px;
        margin-top: 1rem;
    }

    .ove{
        margin-top: 3rem;
        height: 110px;
    }

    .ove p{
        font-size: 14px;
        letter-spacing: 1.5px;
    }

    .ove .card{
        width: 100%;
        height: 20px;
    }

    .ove .card p{
        font-weight: normal;
        font-size: 12px;
    }

    .products{
        width: 90%;
        height: 68px;
        margin-top: 6rem;
    }

    .products h4{
        font-size: 25px;
    }

    .squares{
        margin-left: 0rem;
        width: 100%;
        height: 500px;
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
    }

    .personal{
        width: 90%;
        height: 700px;
        border-radius: 10px;
        overflow-y: hidden;
    }

    .ploans{
        margin-left: 1rem;
        margin-top: 1.5rem;
        height: 25px;
        overflow-y: hidden;
    }

    .ploans h3{
        font-size: 25px;
    }

    .personal .you{
        margin-left: 1rem;
        margin-top: 1.5rem;
        width: 315px;
        height: 80px;
    }

    .personal .you p{
        font-size: 18px;
        line-height: 25px;
    }

    .learn1{
        height: 400px;
    }

    .personal .learn1 a{
        height: 50px;
        width: 170px;
        border-radius: 5px;
        overflow-y: hidden;
        font-weight: 600;
        margin-left: 1rem;
    }

    .learn1 .pic{
        margin-top:9rem;
        /* rotate: 0deg; */
        /* margin-left: 5rem; */
        width: 250px;
    }

    .business{
        display: none;
    }

    .fairlock{
        display: none;
    }

    .subrow3{
        width: 95%;
        height: 200px;
        flex-direction: column;
        margin-top: 10rem;
    }

    .check{
        width: 90%;
        height: 90px;
    }

    .check p{
        font-size: 20px;
        line-height: 37px;
        text-align: center;
    }

    .subrow3 a{
        margin-top: -2rem;
    }

    .our{
        border: none;
    }

    .investor{
        flex-direction: column;
        width: 95%;
        height: 300px;
        border: none;
    }

    .investor .pic1{
        width: 65%;
    }

    .investor .pic1 img{
        height: 40px;
    }

    .investor .pic2{
        width: 80%;
    }

    .investor .pic2 img{
        height: 35px;
    }

    .investor .pic3{
        width: 100%;
        justify-content: center;
    }

    .investor .pic3 img{
        height: 40px;
    }

    .row4{
        margin-top: 35rem;
        height: 815px;
    }

    .testimonials{
        width: 200px;
        height: 35px;
    }

    .testimonials h2{
        font-size: 25px;
    }

    .testimony{
        flex-direction: column;
        width: 100%;
        height: 700px;
        margin-top: 3rem;
    }

    .list{
        width: 374px;
        height: 100px;
        display: flex;
        overflow-x: scroll;
        margin-left: 1rem;
    }

    .name{
        width: 300px;
        height: 60px;
        margin-top: 0rem;
        margin-left: 1.5rem;
        flex-shrink: 0;
    }

    .name:nth-child(1){
        margin-left: 0rem;
    }

    .text{
        width: 93%;
        height: 580px;
        margin-left: 0rem;
        align-self: center;
        flex-direction: column;
        margin-top: 1rem;
    }

    .person{
        width: 100%;
        height: 130px;
    }

    .per{
        width: 80%;
        height: 75px;
    }

    .talk{
        width: 89%;
        height: 360px;
        margin-left: 0rem;
        overflow-y: hidden;
        margin-top: 2rem;
    }

    .row5{

    }

    .latest{
        margin-left: 1rem;
        margin-top: 3rem;
        width: 250px;
        height: 35px;
    }

    .latest h1{
        font-size: 25px;
    }

    .latest p{
        font-size: 15px;
    }

    .blogs{
        height: 652px;
        padding-left: 1rem;
    }

    .news{
        width: 95%;
    }

    .news .pic{
        width: 90%;
    }

    .difference{
        height: 90px;
    }

    .row6{
        margin-top: 2rem;
        flex-direction: column;
        height: 950px;
        justify-content: initial;
    }

    .row6 .photo{
        margin-top: 1rem;
        margin-left: 0rem;
        width: 150px;
        height: 350px;
    }

    .row6 .ready{
        width: 100%;
        height: 700px;
        margin-top: 5rem;
    }

    .row6 .level{
        height: 130px;
        margin-left: 1rem;
        line-height: 45px;
    }

    .row6 .google{
        margin-left: 1rem;
    }

    .row6 .QR2{
        width: 85%;
        margin-top: 3rem;
        flex-direction: column;
        align-items: initial;
        margin-left: 1rem;
        height: 230px;
    }

    .row6 .scan2{
        font-size: 15.5px;
        width: 240px;
        height: 1000px;
    }

    .row7{
        height: 1000px;
    }

    .menu{
        margin-left: 1rem;
        margin-top: 2.5rem;
        width: 100px;
    }

    .color{
        flex-direction: column;
        justify-content: initial;
        height: 445px;
    }

    .links{
        flex-direction: column;
        margin-right: 0rem;
        margin-left: 1rem;
        justify-content: initial;
        width: 200px;
        height: 445px;
    }

    .list{
        width: 100%;
        height: 205px;
        margin-left: 0rem;
        overflow-y: hidden;
    }

    .list:nth-child(1){
        height: 135px;
    }

    .list:last-of-type{
        height: 105px;
    }

    .list ul li{
        margin-left: 0rem;
    }

    .apple{
        /* display: none; */
        align-self: initial;
        margin-top: 13rem;
        margin-left: 1rem;
    }

    .terms{
        margin-top: 0rem;
        flex-direction: column;
        height: 192px;
        justify-content: initial;
    }
    .condition{
        height: 170px;
        width: 300px;
        margin-left: 1rem;
    }

    .condition ul{
        justify-content: initial;
        flex-direction: column;
    }

    .condition ul li{
        margin-top: 1rem;
    }

    .face{
        margin-top: 10rem;
        margin-left: 1rem;
    }

    .all{
        margin-left: 1rem;
        margin-top: 13rem;
    }
}