*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 130px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position:fixed;
    margin-top: -200px;
    z-index: 999999999;
}
.container{
    width: 100%;
    height: auto;
    /* border: 2px solid green; */
}



.headerpic{
    /* border: 1px solid blue; */
    height: 60%;
    width: 200px;
    margin-left: 4.5rem;
}

.tab{
    /* border: 1px solid green; */
    height: 60%;
    width: 530px;
    justify-self: right;
    margin-right: 17rem;
    font-weight: normal;
}

.tab ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.tab ul li{
    font-weight: 600;
    font-size: medium;
}

.tab ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.tab ul li a:hover{
    color: green;
    transition: 0.3s ease-in;
}

.tab ul li p {
    color: black;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
}

.row1{
    /* border: 1px solid blue; */
    width: 88%;
    height: 625px;
    /* height: 925px; */
    justify-self: center;
    border-radius: 50px;
    background-color: rgba(173, 204, 209, 0.253);
    overflow-y: hidden;
    margin-top: 200px;
}

.row1 .header1{
    /* border: 2px solid green; */
    width: 38%;
    height: 190px;
    justify-self: center;
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
}

.row1 h1{
    font-family: sans-serif;
    font-size: 46px;
    display: flex;
    justify-self: center;
    line-height: 55px;
    color: rgb(20, 20, 20);
}

.row1 .body{
    /* border: 2px solid red; */
    width: 41%;
    height: 210px;
    justify-self: center;
    margin-top: 0.5rem;
    text-align: center;
}

.row1 p{
    font-family: sans-serif;
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    color: rgb(65, 63, 63);
}

.pic{
    /* border: 1px solid blue; */
    width: 22%;
    height: 60px;
    justify-self: center;
}

.fair{
    background-image: url(img/home.b39e4e5.webp);
    background-size: cover;
    /* border: 1px solid red; */
    width: 300px;
    margin-top: -21rem;
    height: 500px;
    rotate: 20deg;
}

.fair2{
    background-image: url(img/mock-hero-right.21d5a5e.png);
    background-size: cover;
    /* border: 1px solid red; */
    width: 210px;
    margin-top: -45rem;
    height: 500px;
    justify-self: end;
}

.subrow1{
    width: 88%;
    height: 88px;
    /* border: 1px solid red; */
    justify-self: center;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.logo{
    /* border: 1px solid green; */
    height: inherit;
    width: 40%;
    display: flex;
    margin-top: 0.5rem;
}

.logo1{
    height: inherit;
    width: 50%;
    /* border: 1px solid blue; */
}

.liby{
    height: 13px;
    width: 100%;
    /* border: 1px solid black; */
}

.logo p{
    font-size: xx-small;
    font-family: sans-serif;
    font-weight: 600;
    color: gray;
    letter-spacing: 1px;
}

.cbn{
    height: calc(80px - 13px);
    width: 100%;
    /* border: 1px solid red; */
}

.logo2{
    height: inherit;
    width: 50%;
    /* border: 1px solid purple; */
}

.deposits{
    height: 13px;
    width: 100%;
    /* border: 1px solid rgb(0, 217, 255); */
}


.ndic{
    height: calc(80px - 13px);
    width: 100%;
    /* border: 1px solid red; */
}

.QR{
    border: 1px solid rgb(240, 236, 236);
    height: 100%;
    width: 35%;
    align-self: center;
    display: flex;
    padding-left: 1rem;
    border-radius: 6px;
}

.code{
    width: 16%;
    height: 100%;
    display: flex;
    /* border: 1px solid blue; */
}

.QR .code img{
    height: 60px;
    align-self: center;
}

.scan{
    height: inherit;
    width: 82%;
    /* border: 1px solid blue; */
    align-self: center;
    margin-left: 1rem;
    align-items: center;
    display: flex;
}

.scan p{
    font-family: sans-serif;
    font-size: small;
    color: grey;
}

.row2{
    /* border: 2px solid blue; */
    width: 100%;
    height: 740px;
    margin-top: 5rem;
    background-color: rgba(245, 245, 245, 0.699);
    border-radius: 25px;
}

.box{
    /* border: 1px solid red; */
    width: 88%;
    height: 310px;
    justify-self: center;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.trusted{
    /* border: 1px solid green; */
    height: 300px;
    width: 39%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.trusted .head{
    height: 100px;
    width: 90%;
    /* border: 1px solid red; */
}

.trusted h1{
    font-family: sans-serif;
    font-size: 42px;
    color: rgba(0, 0, 0, 0.850);
}

.trusted .customer{
    height: 120px;
    width: 80%;
    /* border: 1px solid blue; */
    margin-top: 3rem;
}

.trusted p{
    font-family: sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: rgb(90, 90, 90);
}

.million{
    /* border: 1px solid blue; */
    height: 300px;
    width: 330px;
    border-radius: 15px;
    background-color: rgb(245, 241, 253)
}


.million:hover{
    background-color: blueviolet;
    transition: 0.5s ease-in-out;
    color: white;
}

.million .app{
    width: 280px;
    height: 25px;
    /* border: 1px solid red; */
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.million p{
    font-family: sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

.two{
    width: 200px;
    height: 130px;
    /* border: 1px solid green; */
    margin-left: 1.5rem;
    margin-top: 5rem;
}

.two h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
}

.two p{
    font-family: sans-serif;
    font-weight: 600;
}

.over{
    /* border: 1px solid blue; */
    height: 300px;
    width: 310px;
    border-radius: 15px;
    background-color: rgb(236, 252, 240);
}

.over:hover{
    background-color: rgb(4, 131, 4);
    transition: 0.5s ease-in-out;
    color: white;
}


.ov{
    /* border: 1px solid red; */
    width: 280px;
    height: 130px;
    margin-left: 1.5rem;
    margin-top: 9rem;
}

.ov p:nth-child(1) {
    font-family: sans-serif;
    font-size: 18px;
}

.ov h4{
    font-size: 50px;
    font-family: 'Arial Black', 'Helvetica Bold', sans-serif;

}

.ov p:nth-of-type(2){
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.box2{
    /* border: 1px solid red; */
    width: 88%;
    height: 300px;
    justify-self: center;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.billion{
    /* border: 1px solid green; */
    height: 300px;
    width: 39%;
    border-radius: 15px;
    background-color: rgb(236, 252, 240)
}

.billion:hover{
    background-color: rgb(3, 160, 3);
    transition: 0.5s ease-in-out;
    color: white;
}


.billion .more{
    /* border: 1px solid blue; */
    margin-left: 1.5rem;
    margin-top: 2rem;
    width: 300px;
    height: 25px;
}

.billion .more p{
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 19px;
}

.billion .money{
    /* border: 1px solid red; */
    width: 300px;
    height: 180px;
    margin-left: 1.5rem;
}

.billion .cash{
    /* border: 1px solid green; */
    width: 300px;
    height: 90px;
}

.billion .bi{
    /* border: 1px solid green; */
    width: 300px;
    height: 90px;
}

.billion h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85px;
}

.billion .saved{
    /* border: 1px solid blue; */
    margin-left: 1.5rem;
    width: 300px;
    height: 25px;
}
.billion .saved p{
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
}

.minute{
    /* border: 1px solid blue; */
    height: 300px;
    width: 330px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.048);
}

.minute:hover{
    background-color: rgb(231, 105, 96);
    color: white;
    transition: 0.7s ease-in-out;
}


.loans{
    /* border: 1px solid red; */
    width: 200px;
    height: 50px;
    line-height: 25px;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.minute .loans p{
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 19px;
}

.minute .min{
    /* border: 1px solid blue; */
    height: 80px;
    width: 200px;
    display: flex;
    align-items: end;
    margin-left: 1.5rem;
    margin-top: 7rem;
}

.minute .min h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    justify-self: end;
    color: rgba(165, 42, 42, 0.719);
}

.minute .min p{
    font-family: sans-serif;
    margin-left: 7px;
    margin-bottom: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 19px;
}

.monthly{
    /* border: 1px solid blue; */
    height: 300px;
    width: 310px;
    border-radius: 15px;
    background-color: rgba(31, 31, 248, 0.034);
}

.monthly:hover{
    /* background-color: rgb(75, 75, 252); */
    color: white;
    transition: 0.5s ease-in-out;
}

.ove{
    /* border: 1px solid red; */
    width: 280px;
    height: 130px;
    margin-left: 1.5rem;
    margin-top: 9rem;
}

.ove p{
    font-family: sans-serif;
    font-size: 18px;
}

.ove h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 0.5rem;
}

.ove .card{
    /* border: 1px solid green; */
    height: 50px;
    width: 250px;
    margin-top: 0.5rem;
}

.ove .card p{
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.row3{
    /* border: 2px solid blue; */
    width: 100%;
    height: 950px;
    margin-top: 5rem;
    background-color: rgba(173, 204, 209, 0.253);
}

.squares{
    /* border: 1px solid orange; */
    height: 450px;
    width: 97.6%;
    margin-top: 4rem;
    margin-left: 2rem;
    display: flex;
}

.squares a{
    text-decoration: none;
}

.products{
    /* border: 1px solid red; */
    width: 500px;
    height: 100px;
    margin-top: 5rem;
    justify-self: center;
}

.products h4{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
}

.personal{
    /* border: 1px solid blue; */
    height: 450px;
    width: 450px;
    border-radius: 20px;
    background-color: white;
}

.ploans{
    /* border: 1px solid red; */
    width: 300px;
    height: 45px;
    margin-left: 2.5rem;
    margin-top: 3rem;
}

.ploans h3{
    font-family: sans-serif;
    font-size: 35px;
}

.personal .you{
    width: 330px;
    height: 100px;
    /* border: 1px solid blue; */
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.personal .you p{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.learn1{
    width: 100%;
    height: 225px;
    /* border: 1px solid red; */
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.personal .learn1 a{
    text-decoration: none;
    background-color: #37a477;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 2rem;
    height: 60px;
    margin-left: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn1 a:hover{
    margin-top: 1.5rem;
    transition: 0.5s;
}

.learn1 .pic{
    background-image: url(img/Loan_70c5f69dec_ecc302ab79.png);
    background-size: cover;
    /* border: 1px solid blue; */
    rotate: 345deg;
    width: 60%;
    height: 100%;
}

.business{
    /* border: 1px solid green; */
    height: 450px;
    width: 450px;
    margin-left: 2rem;
    border-radius: 20px;
    background-color: white;
}

.take{
    width: 330px;
    height: 100px;
    /* border: 1px solid blue; */
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.take p{
    font-family: sans-serif ;
    font-size: 20px;
    line-height: 30px;
}

.learn2{
    width: 100%;
    height: 225px;
    /* border: 1px solid red; */
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.business .learn2 a{
    text-decoration: none;
    background-color: #1e1f26;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 2rem;
    height: 60px;
    margin-left: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn2 a:hover{
    margin-top: 1.5rem;
    transition: 0.5s;
}

.business .pic{
    background-image: url(img/6410d82a51fa022e91623445_mock_business_loans_p_500_ee3ad3893e_daad62469e_e5c6ac07b1\ \(1\).webp);
    background-size: cover;
    rotate: 345deg;
    width: 60%;
    height: 100%;
}

.fairlock{
    /* border: 1px solid red; */
    height: 450px;
    width: 350px;
    margin-left: 2rem;
    border-radius: 20px;
    background-color: white;
}

.achieve{
    width: 310px;
    height: 100px;
    /* border: 1px solid blue; */
    margin-left: 2.5rem;
    margin-top: 2rem;
}

.achieve p{
    font-family: sans-serif ;
    font-size: 20px;
    line-height: 30px;
}

.learn3{
    width: 100%;
    height: 225px;
    /* border: 2px solid red; */
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.fairlock .learn3 a{
    text-decoration: none;
    background-color: #3898EC;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 2rem;
    height: 60px;
    margin-left: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn3 a:hover{
    margin-top: 1.5rem;
    transition: 0.5s;
}

.fairlock .pic{
    background-image: url(img/Asset_3_572133ac6c_e823ed3cc8.png);
    background-size: cover;
    rotate: 345deg;
    width: 100%;
    height: 100%;
    margin-left: 5rem;
}

.subrow3{
    width: 85%;
    height: 120px;
    /* border: 1px solid red; */
    justify-self: center;
    margin-top: 11.5rem;
    border-radius: 15px;
    position: relative;
    background-color: #f1f7f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.check{
    /* border: 1px solid green; */
    height: 50px;
    width: 70%;
    display: flex;
    align-items: center;
}

.check p{
    color: #1e1f26;
    font-family: sans-serif;
    font-size: 25px;
}

.subrow3 a{
    text-decoration: none;
    background-color: #37a477;
    font-family: sans-serif;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.subrow3 a:hover{
    margin-top: -1rem;
    transition: 0.5s;
}

.our{
    width: 75%;
    height: 120px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    justify-self: center;
    margin-top: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our p{
    color: rgb(29, 71, 138);
    font-family: sans-serif;
    font-size: 18px;
}

.investor{
    width: 85%;
    height: 160px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    background-color: white;
    justify-self: center;
    margin-top: -0.5rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.investor .pic1{
    /* border: 1px solid red; */
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.investor .pic1 img{
    height: 60px;
}

.investor .pic2{
    /* border: 1px solid green; */
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.investor .pic2 img{
    height: 40px;
}

.investor .pic3{
    /* border: 1px solid purple; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.investor .pic3 img{
    height: 40px;
}

.row4{
    /* border: 2px solid blue; */
    margin-top: 26rem;
    width: 100%;
    height: 700px;
}

.testimonials{
    width: 300px;
    height: 40px;
    /* border: 1px solid red; */
    justify-self: center;
    text-align: center;
    margin-top: 2rem;
}

.testimonials h2{
    font-family: sans-serif;
    font-size: 40px;
}

.testimony{
    /* border: 1px solid red; */
    margin-top: 4rem;
    height: 450px;
    width: 87%;
    justify-self: center;
    justify-content: space-between;
    display: flex;
}

.list{
    /* border: 1px solid blue; */
    width: 320px;
    height: 500px;
}

.name{
    /* border: 1px solid green; */
    width: 318px;
    height: 85px;
    border-radius: 8px;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(44, 57, 85, 0.055);
}

.name:hover{
    cursor: pointer;
}

.name i{
    font-size: 23px;
    color: gray;
    margin-right: 1rem;
}

.name h3{
    color: grey;
    font-family: sans-serif;
    margin-left: 1rem;
    font-size: 21px;
}

.name:nth-child(1){
    margin-top: 0rem;
    background-color: #faede2;
}

.name:nth-child(1) h3{
    color: #d18660;
}

.name:nth-child(1) i{
    color: #d18660;
}

.text{
    /* border: 1px solid green; */
    height: 450px;
    width: 850px;
    margin-left: 2rem;
    background-color: rgba(44, 57, 85, 0.055);
    border-radius: 15px;
    display: flex;
}

.person{
    /* border: 1px solid blue; */
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.per{
    /* border: 1px solid green; */
    width: 150px;
    height: 130px;
}

.person h3{
    color: #283655;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 40px;
}

.person p{
    color: #283655;
    font-family:  sans-serif;
    line-height: 35px;
    font-size: 20px;
}

.talk{
    /* border: 1px solid black; */
    height: 290px;
    width: 412px;
    margin-left: 4rem;
    align-self: center;
    overflow-y: scroll;
}

.talk p{
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #283655;
}

.row5{
    /* border: 2px solid blue; */
    width: 100%;
    height: 865px;
    margin-top: 1rem;
    background-color: rgba(59, 70, 92, 0.055);
}

.latest{
    width: 400px;
    height: 60px;
    /* border: 1px solid red; */
    margin-top: 6rem;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest h1{
    font-family: sans-serif;
    font-size: 40px;
}

.latest:hover h1{
    cursor: pointer;
}

.latest p{
    font-family: sans-serif;
    font-size: 25px;
    color: gray;
}

.latest:hover p{
    cursor: pointer;
}

.blogs{
    width: 100%;
    height: 655px;
    /* border: 1px solid green; */
    margin-top: 3rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 2rem;
    scrollbar-width: none;
    padding-left: 3.6rem;
}

.news{
    /* border: 1px solid blue; */
    width: 435px;
    height: 650px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 15px;
}

.news .pic{
    /* border: 1px solid red; */
    width: 390px;
    height: 220px;
    margin-top: 1.2rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.year{
    /* border: 1px solid blue; */
    height: 20px;
    width: 200px;
    margin-left: 1.3rem;
    margin-top: 2rem;
    color: gray;
    font-family: sans-serif;
    font-size: 16px;
}

.difference{
    /* border: 1px solid red; */
    width: 90%;
    height: 66px;
    margin-left: 1.3rem;
    margin-top: 1.7rem;
    font-family: sans-serif;
    font-size: 13px;
}

.do{
    /* border: 1px solid blue; */
    height: 78px;
    width: 93%;
    margin-left: 1.3rem;
    margin-top: 1.7rem;
    color: gray;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
    word-spacing: 1.1px;
}

.news .more{
    width: 140px;
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-left: 1.3rem;
    margin-top: 4rem;

}

.news a{
    text-decoration: none;
    background-color: #37a477;
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    border-radius: 8px;
    color: white;
    font-size: 1.1rem;
    font-family: sans-serif;
}

.news a:hover{
    margin-top: -0.5rem;
    transition: 0.5s;
}

.row6{
    width: 100%;
    height: 650px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(59, 70, 92, 0.055);
}

.row6 .photo{
    /* border: 1px solid red; */
    width: 180px;
    height: 400px;
    margin-left: 5rem;
}

.row6 .photo img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.row6 .ready{
    /* border: 1px solid red; */
    width: 550px;
    height: 300px;
}

.row6 .level{
    /* border: 1px solid blue; */
    width: 85%;
    height: 95px;
    font-family: sans-serif;
    font-size: 17px;
}

.row6 .google{
    /* border: 1px solid purple; */
    width: 255px;
    height: 60px;
    padding-top: 0.7rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.row6 img{
    border-radius: 5px;
}

.row6 a:hover{
    margin-top: -0.3rem;
    transition: 0.5s;
}

.row6 .QR2{
    width: 410px;
    height: 110px;
    /* border: 1px solid blue; */
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row6 .cod{
    /* border: 1px solid black; */
    width: 110px;
    height: 110px;
}

.row6 .scan2{
    /* border: 1px solid black; */
    width: 280px;
    height: 100px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: gray;
}

.row7{
    width: 100%;
    height: 550px;
    border: 2px solid #283655;
    background-color: #283655;
}

.row7 li :hover{
    color: #37a477;
    transition: 0.3s;
}

.menu{
    /* border: 1px solid blue; */
    width: 400px;
    height: 30px;
    margin-left: 10rem;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 5rem;
    color: white;
}

.color{
    /* border: 1px solid red; */
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-around;
}

.links{
    /* border: 1px solid white; */
    width: 500px;
    height: 220px;
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
}

.list{
    /* border: 1px solid red; */
    width: 140px;
    height: 220px;
}

.list ul{
    list-style: none;
}

.list ul li{
    margin-top: 1rem;
}

.list a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.apple{
    /* border: 1px solid white; */
    margin-right: 3rem;
    height: 110px;
    width: 130px;
    align-self: self-end;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.apple img{
    margin-top: 1rem;
}

.terms{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
}

.condition{
    /* border: 1px solid white; */
    width: 800px;
    height: 50px;
    margin-left: 5rem;

}

.condition a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

.condition ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.face{
    /* border: 1px solid white; */
    height: 50px;
    width: 150px;
    color: white;
}

.face a{
    color: white;
    text-decoration: none;
}

.all{
    width: 600px;
    height: 50px;
    /* border: 1px solid white; */
    margin-left: 10.3rem;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

